<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Album Art Classifier - Amanda Bowers</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .newspaper {
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
    }
    </style>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Album Cover</span> Identification
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#evaluation">Evaluation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section class="no-padding" id="training">
    <div class="container-fluid">
        <div class="row no-gutter">
        <!-- Begin album_tile insertion -->
        <!-- End album_tile insertion -->
        </div>
    </div>

    <!--More Genres -->

<div class="newspaper">
    <br>Alternative</br>
    <br>Anime</br>
    <br>Blues</br>
    <br>Brazilian</br>
    <br>Children's Music</br>
    <br>Christian & Gospel</br>
    <br>Classical</br>
    <br>Comedy</br>
    <br>Country</br>
    <br>Dance</br>
    <br>Disney</br>
    <br>Easy Listening</br>
    <br>Electronic</br>
    <br>Enka</br>
    <br>Fitness & Workout</br>
    <br>French Pop</br>
    <br>German Pop</br>
    <br>Hip-Hop/Rap</br>
    <br>Holiday Music</br>
    <br>Instrumental</br>
    <br>J-Pop</br>
    <br>Jazz</br>
    <br>K-Pop</br>
    <br>Karaoke</br>
    <br>Latino</br>
    <br>New Age</br>
    <br>Opera</br>
    <br>Pop</br>
    <br>R&B/Soul</br>
    <br>Reggae</br>
    <br>Rock</br>
    <br>Singer/Songwriter</br>
    <br>Soundtrack</br>
    <br>Spoken Word</br>
    <br>Vocal</br>
    <br>World</br>
</div>
      <!-- Footer -->
      <footer>
          <div class="container text-center">
              <p>Copyright &copy; Amanda Bowers 2017</p>
              <p>Photos Copyright &copy; Apple iTunes 2017</p>
          </div>
      </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Plugin JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
      <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

      <!-- Theme JavaScript -->
      <script src="static/js/creative.js"></script>

</body>

</html>
