<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Album Art Classifier - Amanda Bowers</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .newspaper {
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
    }
    </style>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Album Cover</span> Identification
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#training">Training</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Album Art Classifier</h1>
                        <p class="intro-text">A pre-trained tensorflow model to predict music genre
                            <br>Created by Amanda Bowers</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Model</h2>
                <p>This model was trained on <a href="https://www.tensorflow.org/tutorials/image_retraining"> Inception V3</a>
                  via transfer learning:</p>
                  <br><bold>Training Set:</bold> 36 classes each with an average of 750 images (unbalanced classes)</br>
                  <br>Training accuracy: ~45% (varies iteratively)</br>
                  <br><bold>Validation Set:</bold> 36 classes each with an average of 94 images</br>
                  <br>Validation accuracy: 28% (varies iteratively)</br>
                  <br><bold>Test Set:</bold> 36 classes each with an average of 94 images</br>
                  <br>Test accuracy: 17.1% (final hold-out set)</br>
                <p><a href = "https://affiliate.itunes.apple.com/resources/documentation/genre-mapping/"> iTunes</a>
                  genres and corresponding subgenres were grouped together to create image classes:</p>
                <div class="newspaper">
                    <br>Alternative</br>
                    <br>Anime</br>
                    <br>Blues</br>
                    <br>Brazilian</br>
                    <br>Children's Music</br>
                    <br>Christian & Gospel</br>
                    <br>Classical</br>
                    <br>Comedy</br>
                    <br>Country</br>
                    <br>Dance</br>
                    <br>Disney</br>
                    <br>Easy Listening</br>
                    <br>Electronic</br>
                    <br>Enka</br>
                    <br>Fitness & Workout</br>
                    <br>French Pop</br>
                    <br>German Pop</br>
                    <br>Hip-Hop/Rap</br>
                    <br>Holiday Music</br>
                    <br>Instrumental</br>
                    <br>J-Pop</br>
                    <br>Jazz</br>
                    <br>K-Pop</br>
                    <br>Karaoke</br>
                    <br>Latino</br>
                    <br>New Age</br>
                    <br>Opera</br>
                    <br>Pop</br>
                    <br>R&B/Soul</br>
                    <br>Reggae</br>
                    <br>Rock</br>
                    <br>Singer/Songwriter</br>
                    <br>Soundtrack</br>
                    <br>Spoken Word</br>
                    <br>Vocal</br>
                    <br>World</br>
                </div>
                <p>Upload your album art below to obtain the top 5 most likely genre predictions.</p>
                <form action="/uploader" method="POST"
                    enctype="multipart/form-data">
                    <input type="file" name="pic" accept="image/*">
                    <input type="submit">
                </form>
            </div>
        </div>
    </section>

    <!-- Training Set Section -->
    <section id="training" class="content-section text-center">
        <div class="training-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>What's in my training set?</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="recommendations">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Blues/515588.jpg" data-group="1" class="galleryItem portfolio-box with-caption image-link" title="B.B. King: Anthology (2000)">
                <img src="static/img/portfolio/thumbnails/515588.jpg" height="150" width="750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Blues
                            </div>
                            <div class="project-category text-faded">
                                B.B. King: Anthology
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Blues/22139042.jpg" data-group="1" class="galleryItem portfolio-box" title="Albert Cummings: True to yourself (2004)"></a>
                <a href="static/img/portfolio/fullsize/Blues/25283.jpg" data-group="1" class="galleryItem portfolio-box" title="John Lee Hooker: The Best of John Lee Hooker 1965 to 1974 (1992)"></a>
                <a href="static/img/portfolio/fullsize/Blues/356466.jpg" data-group="1" class="galleryItem portfolio-box" title="Etta James: The Essential Etta James (1993)"></a>
                <a href="static/img/portfolio/fullsize/Blues/389611.jpg" data-group="1" class="galleryItem portfolio-box" title="Johnny Lang: Lie to Me (1997)"></a>
                <a href="static/img/portfolio/fullsize/Blues/865629797.jpg" data-group="1" class="galleryItem portfolio-box" title="John Lee Hooker: The Best of Friends (1998)"></a>
                <a href="static/img/portfolio/fullsize/Blues/390180.jpg" data-group="1" class="galleryItem portfolio-box" title="Johnny Lang: Wander This World: (1998)"></a>
                <a href="static/img/portfolio/fullsize/Blues/3438294.jpg" data-group="1" class="galleryItem portfolio-box" title="Freddie King: Burglar (1974)"></a>
                <a href="static/img/portfolio/fullsize/Blues/1057030529.jpg" data-group="1" class="galleryItem portfolio-box" title="South Memphis String Band: Home Sweet Home (2010)"></a>
                <a href="static/img/portfolio/fullsize/Blues/869174255.jpg" data-group="1" class="galleryItem portfolio-box" title="John Primer: You Can Make it if You Try (2012)"></a>
                <a href="static/img/portfolio/fullsize/Blues/871741930.jpg" data-group="1" class="galleryItem portfolio-box" title="Roy Hamilton: Have Blues Must Travel (1958)"></a>
                <a href="static/img/portfolio/fullsize/Blues/406581518.jpg" data-group="1" class="galleryItem portfolio-box" title="Frankie Lee Sims: Frankie Mae Blues (1969)"></a>
                <a href="static/img/portfolio/fullsize/Blues/1204528193.jpg" data-group="1" class="galleryItem portfolio-box" title="Ottis Taylor: Fantasizing About Being Black (2017)"></a>
                <a href="static/img/portfolio/fullsize/Blues/110792328.jpg" data-group="1" class="galleryItem portfolio-box" title="Sonny Terry: Complete Recorded Works In Chronological Order, Vol. 2 (1944-1949) (2000)"></a>
                <a href="static/img/portfolio/fullsize/Blues/965205851.jpg" data-group="1" class="galleryItem portfolio-box" title="Snooks Eaglin: New Orleans Street Singer (1958)"></a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Classical/1052805256.jpg" data-group="2" class="galleryItem portfolio-box">
                    <img src="static/img/portfolio/thumbnails/1052805256.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Classical
                            </div>
                            <div class="project-category text-faded">
                                Brahms: The Violin Sonatas
                            </div>
                        </div>
                    </div>
                </a>

                <a href="static/img/portfolio/fullsize/Classical/1002997184.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1015199859.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1016303656.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1017818237.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1019265906.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1019854000.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1020881374.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1027430997.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Classical/1030823966.jpg" data-group="2" class="galleryItem portfolio-box"></a>
                <a href="bad_link_haha.jpg" class="portfolio-box"></a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Country/kc_hw.jpeg" data-group="3" class="galleryItem portfolio-box" title="Kenny Chesney: Hemmingway's Whiskey (2010)">
                    <img src="static/img/portfolio/thumbnails/kc_hw.jpeg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Country
                            </div>
                            <div class="project-category text-faded">
                                Kenny Chesney: Hemmingway's Whiskey
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Country/295740272.jpg" data-group="3" class="galleryItem portfolio-box" title="Zac Brown Band: The Foundation (2008)"></a>
                <a href="static/img/portfolio/fullsize/Country/307320423.jpg" data-group="3" class="galleryItem portfolio-box" title="Jason Aldean: Wide Open (2009)"></a>
                <a href="static/img/portfolio/fullsize/Country/292573866.jpg" data-group="3" class="galleryItem portfolio-box" title="The Bands and Ensembles of the US Armed Forces: Broad Stripes Bright Stars (2008)"></a>
                <a href="static/img/portfolio/fullsize/Country/378862452.jpg" data-group="3" class="galleryItem portfolio-box" title="J. Tex & the Volunteers: One of These Days (2008)"></a>
                <a href="static/img/portfolio/fullsize/Country/1002251819.jpg" data-group="3" class="galleryItem portfolio-box" title="Brett Elredge: Illinois (2015)"></a>
                <a href="static/img/portfolio/fullsize/Country/399727924.jpg" data-group="3" class="galleryItem portfolio-box" title="Taylor Swift: Speak Now (2010)"></a>
                <a href="static/img/portfolio/fullsize/Country/406506870.jpg" data-group="3" class="galleryItem portfolio-box" title="Cowboy Copas: Country Boy (2010)"></a>
                <a href="static/img/portfolio/fullsize/Country/406621710.jpg" data-group="3" class="galleryItem portfolio-box" title="Bobby G. Rice: Sugar Shack (2010)"></a>
                <a href="static/img/portfolio/fullsize/Country/410976163.jpg" data-group="3" class="galleryItem portfolio-box" title="Johnny Horton: Guitar Stomp (2010)"></a>
                <a href="static/img/portfolio/fullsize/Country/1186578426.jpg" data-group="3" class="galleryItem portfolio-box" title="Muscadine Bloodline: Muscadine Bloodline - EP (2017)"></a>
                <a href="static/img/portfolio/fullsize/Country/1170960607.jpg" data-group="3" class="galleryItem portfolio-box" title="Cactus Attack: Happy Hunting (2016)"></a>
                <a href="static/img/portfolio/fullsize/Country/617727863.jpg" data-group="3" class="galleryItem portfolio-box" title="Willis, Carlan & Quin: Tin Roof (1980)"></a>
                <a href="static/img/portfolio/fullsize/Country/19679531.jpg" data-group="3" class="galleryItem portfolio-box" title="The Sons of the Pioneers: The Ultimate Collection: The Sons of the Pioneers (1965)"></a>
                <a href="static/img/portfolio/fullsize/Country/1185116180.jpg" data-group="3" class="galleryItem portfolio-box" title=":Lauren Alaina: Road Less Traveled (2017)"></a>

            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Dance/331339668.jpg" data-group="4" class="galleryItem portfolio-box" title="La Roux: La Roux (Bonus Track Version) (2009)">
                    <img src="static/img/portfolio/thumbnails/331339668.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Dance
                            </div>
                            <div class="project-category text-faded">
                                La Roux: La Roux (Bonus Track Version)
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Dance/1174430660.jpg" data-group="4" class="galleryItem portfolio-box" title="The Chainsmokers: Closer (feat. Halsey) [Remixes] - EP (2016)"></a>
                <a href="static/img/portfolio/fullsize/Dance/401891064.jpg" data-group="4" class="galleryItem portfolio-box" title="Various Artists: 80's Club Hits Reloaded (2006)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1002395069.jpg" data-group="4" class="galleryItem portfolio-box" title="Hardwell: Hardwell Hits Revealed, Vol. 6 (2015)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1003441896.jpg" data-group="4" class="galleryItem portfolio-box" title="TVarious Artists: Ultra Summer 2 (The Best in Deep and Tropical House (2015)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1024184425.jpg" data-group="4" class="galleryItem portfolio-box" title="Paul Van Dyk: Lights (feat. Sue McLaren) [Remixes] - EP (2015)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1031878602.jpg" data-group="4" class="galleryItem portfolio-box" title="Benjamin Damage: Obsidean (2015)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1030347472.jpg" data-group="4" class="galleryItem portfolio-box" title="Dawn Wall: Kythera - EP (2015)"></a>
                <a href="static/img/portfolio/fullsize/Dance/333589490.jpg" data-group="4" class="galleryItem portfolio-box" title="Sister Sledge: We Are Family (1979)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1051503003.jpg" data-group="4" class="galleryItem portfolio-box" title="Yellow Claw: Blood for Mercy (2015)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1054010560.jpg" data-group="4" class="galleryItem portfolio-box" title="Stas: Full Moon (2015)"></a>
                <a href="static/img/portfolio/fullsize/Dance/181572851.jpg" data-group="4" class="galleryItem portfolio-box" title="Jamiroquai: Emergency on Planet Earth (1991)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1186747570.jpg" data-group="4" class="galleryItem portfolio-box" title="David Whistle: Routine (2016) "></a>
                <a href="static/img/portfolio/fullsize/Dance/1065512066.jpg" data-group="4" class="galleryItem portfolio-box" title="Lenzman: Golden Age (2016)"></a>
                <a href="static/img/portfolio/fullsize/Dance/1081489773.jpg" data-group="4" class="galleryItem portfolio-box" title="Jamie Berry: Sombinate - EP (2016)"></a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Disney/156780227.jpg" data-group="5" class="galleryItem portfolio-box" title="Various Artists: Disney Princess Tea Party (2005)">
                    <img src="static/img/portfolio/thumbnails/156780227.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Disney
                            </div>
                            <div class="project-category text-faded">
                                Various Artists: Disney Princess Tea Party
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Disney/254400293.jpg" data-group="5" class="galleryItem portfolio-box" title="Hans Zimmer: Pirates of the Caribean: At World's End (Remixes) - EP (2007)"></a>
                <a href="static/img/portfolio/fullsize/Disney/171751253.jpg" data-group="5" class="galleryItem portfolio-box" title="Various Artists: The Little Mermaid and Friends (2006)"></a>
                <a href="static/img/portfolio/fullsize/Disney/219582716.jpg" data-group="5" class="galleryItem portfolio-box" title="Various Artists: Disneymania 5 (2007)"></a>
                <a href="static/img/portfolio/fullsize/Disney/272258499.jpg" data-group="5" class="galleryItem portfolio-box" title="Walt Disney Sound Effects Group: Chilling, Thrilling Sounds of the Haunted House (1964)"></a>
                <a href="static/img/portfolio/fullsize/Disney/191902250.jpg" data-group="5" class="galleryItem portfolio-box" title="Various Artists: Lady and the Tramp (Original Soundtrack)(1997)"></a>
                <a href="static/img/portfolio/fullsize/Disney/272257989.jpg" data-group="5" class="galleryItem portfolio-box" title="The Disney Afternoon Studio Chorus: The Disney Afternoon Songbook (Music From Hit TV Shows) (2008)"></a>
                <a href="static/img/portfolio/fullsize/Disney/169243395.jpg" data-group="5" class="galleryItem portfolio-box" title="The Doodlebops: Rock & Bop With the Doodlebops (2006)"></a>
                <a href="static/img/portfolio/fullsize/Disney/156779968.jpg" data-group="5" class="galleryItem portfolio-box" title="Various Artists: The Lion King (Original Broadway Cast Recording) (1997)"></a>
                <a href="static/img/portfolio/fullsize/Disney/1063494251.jpg" data-group="5" class="galleryItem portfolio-box" title="Jeremy Ng: A Disney Collection (2015)"></a>
                <a href="static/img/portfolio/fullsize/Disney/1032501669.jpg" data-group="5" class="galleryItem portfolio-box" title="Disney Kids Band: Lo Mejor de Disney en Español Vol. 3 (2015)"></a>
                <a href="static/img/portfolio/fullsize/Disney/903147976.jpg" data-group="5" class="galleryItem portfolio-box" title="Marjorie Westbury: Snow White (Adapted from the Story by Grimm) (2015)"></a>
                <a href="static/img/portfolio/fullsize/Disney/985360857.jpg" data-group="5" class="galleryItem portfolio-box" title="The Piano Kid: The Jungle Book (Piano Selections) - EP (2015)"></a>
                <a href="static/img/portfolio/fullsize/Disney/272258502.jpg" data-group="5" class="galleryItem portfolio-box" title="Various Artists: Country Bear Jamboree (Original Sound Track) (1971)"></a>
                <a href="static/img/portfolio/fullsize/Disney/161398291.jpg" data-group="5" class="galleryItem portfolio-box" title="Michael Giacchino: The Incredibles (Music from the Motion Picture)"></a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Electronic/498552145.jpg" data-group="6" class="galleryItem portfolio-box" title="Kuba: Random Precision (2012)">
                    <img src="static/img/portfolio/thumbnails/498552145.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Electronic
                            </div>
                            <div class="project-category text-faded">
                                Kuba: Random Precision
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Electronic/2237453.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/41227741.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/204355721.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/202045710.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/180941199.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/202482541.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/252298592.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/256061634.jpg" data-group="6" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Electronic/203333772.jpg" data-group="6" class="galleryItem portfolio-box"></a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Jazz/1088093080.jpg" data-group="7" class="galleryItem portfolio-box" title="Gregory Porter: Take Me to the Alley (2016)">
                    <img src="static/img/portfolio/thumbnails/1088093080.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Jazz
                            </div>
                            <div class="project-category text-faded">
                                Gregory Porter: Take Me to the Alley
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Jazz/292138.jpg" data-group="7" class="galleryItem portfolio-box" title="Billie Holiday: 20th Century Masters - The Millennium Collection: The Best of Billie Holiday (2002)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/664756332.jpg" data-group="7" class="galleryItem portfolio-box" title="Miles Davis: Birth of the Cool (1957)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/522940052.jpg" data-group="7" class="galleryItem portfolio-box" title="Louis Armstrong: What a Wonderful World (1968)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/264532064.jpg" data-group="7" class="galleryItem portfolio-box" title="Chris Botti: Italia (Deluxe Edition) (2007)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/279289474.jpg" data-group="7" class="galleryItem portfolio-box" title="Thollem McDonas & Arrington De Dionyso: Intuitionscienceandsex (2008)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/298325770.jpg" data-group="7" class="galleryItem portfolio-box" title="Nina Simone: ugar In My Bowl: The Very Best of Nina Simone 1967-1972 (1998)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/293783265.jpg" data-group="7" class="galleryItem portfolio-box" title="Hail to the Chief: A Presidential Celebration of Patriotic Music and Marches: USMMA Band / Force (2008)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/258622459.jpg" data-group="7" class="galleryItem portfolio-box" title="Kenny G: Live (1990)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/303161426.jpg" data-group="7" class="galleryItem portfolio-box" title="Boney James: Send One Your Love (2009)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/338396119.jpg" data-group="7" class="galleryItem portfolio-box" title="Melody Gardot: My One and Only Fear (2009)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/1012457858.jpg" data-group="7" class="galleryItem portfolio-box" title="Mario Rivera: El Comandante (The Merengue - Jazz) (1992)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/1021429907.jpg" data-group="7" class="galleryItem portfolio-box" title="Electric Squeezebox Orchestra: Cheap Rent (2015)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/1011418651.jpg" data-group="7" class="galleryItem portfolio-box" title="Claudio Roditi: Impressions (2007)"></a>
                <a href="static/img/portfolio/fullsize/Jazz/1040184885.jpg" data-group="7" class="galleryItem portfolio-box" title="Brian Auger's Oblivion Express: Live Los Angeles (feat. Alex Ligertwood) (2015)"></a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Pop/1051394208.jpg" data-group="8" class="galleryItem portfolio-box" title="Adele: 25 (2015)">
                    <img src="static/img/portfolio/thumbnails/1051394208.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Pop
                            </div>
                            <div class="project-category text-faded">
                                Adele: 25
                            </div>
                        </div>
                    </div>
                </a>

                <a href="static/img/portfolio/fullsize/Pop/559334659.jpg" data-group="8" class="galleryItem portfolio-box" title="Michael Jackson: Bad (1987)"></a>
                <a href="static/img/portfolio/fullsize/Pop/251101179.jpg" data-group="8" class="galleryItem portfolio-box" title="Whitney Houston: Whitney: The Greatest Hits (2000)"></a>
                <a href="static/img/portfolio/fullsize/Pop/252606580.jpg" data-group="8" class="galleryItem portfolio-box" title="Justin Timberlake: Justified (2002)"></a>
                <a href="static/img/portfolio/fullsize/Pop/315025768.jpg" data-group="8" class="galleryItem portfolio-box" title="Avril Lavigne: Let Go (2002)"></a>
                <a href="static/img/portfolio/fullsize/Pop/388127285.jpg" data-group="8" class="galleryItem portfolio-box" title="John Legend: Where the Light Is: John Mayer Live In Los Angeles (2007)"></a>
                <a href="static/img/portfolio/fullsize/Pop/458413837.jpg" data-group="8" class="galleryItem portfolio-box" title="Rihanna: Loud (2010)"></a>
                <a href="static/img/portfolio/fullsize/Pop/361487155.jpg" data-group="8" class="galleryItem portfolio-box" title="Justin Beiber: My World 2.0 (2010)"></a>
                <a href="static/img/portfolio/fullsize/Pop/318390146.jpg" data-group="8" class="galleryItem portfolio-box" title="Black Eyed Peas: The E.N.D. (The Energy Never Dies) (2009)"></a>
                <a href="static/img/portfolio/fullsize/Pop/296016891.jpg" data-group="8" class="galleryItem portfolio-box" title="Beyonce: I Am... Sasha Fierce"></a>
                <a href="static/img/portfolio/fullsize/Pop/580695794.jpg" data-group="8" class="galleryItem portfolio-box" title="Matchbox Twenty: Yourself or Someone Like You (1996)"></a>
                <a href="static/img/portfolio/fullsize/Pop/80812428.jpg" data-group="8" class="galleryItem portfolio-box" title="Madonna: The Immaculate Collection (1990)"></a>
                <a href="static/img/portfolio/fullsize/Pop/723398173.jpg" data-group="8" class="galleryItem portfolio-box" title="Spice Girls: Spice (1996)"></a>
                <a href="static/img/portfolio/fullsize/Pop/318390146.jpg" data-group="8" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Pop/296016891.jpg" data-group="8" class="galleryItem portfolio-box"></a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Rnb_Soul/266809606.jpg" data-group="9" class="galleryItem portfolio-box" title="Destiny's Child: Writing's On the Wall (1999)">
                    <img src="static/img/portfolio/thumbnails/266809606.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                R&B/Soul
                            </div>
                            <div class="project-category text-faded">
                                TLC: CrazySexyCool
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/157496745.jpg" data-group="9" class="galleryItem portfolio-box" title="Lauryn Hill: The Miseducation of Lauryn Hill (1998)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/120198739.jpg" data-group="9" class="galleryItem portfolio-box" title="Roberta Flack: The Very Best of Roberta Flack (2006)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/166709488.jpg" data-group="9" class="galleryItem portfolio-box" title="India.Arie: Testimony: Vol. 1 Life & Relationship (2006)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/1124261886.jpg" data-group="9" class="galleryItem portfolio-box" title="Keith Sweat: Make It Last Forever (1987)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/217678277.jpg" data-group="9" class="galleryItem portfolio-box" title="Lloyd: Street Love (2007)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/250689978.jpg" data-group="9" class="galleryItem portfolio-box" title="Babyface: A Collection of His Greatest Hits (2000)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/251898230.jpg" data-group="9" class="galleryItem portfolio-box" title="Janet Jackson: Design of a Decade: 1986-1996 (1995)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/255342344.jpg" data-group="9" class="galleryItem portfolio-box" title="Alicia Keys: The Diary of Alicia Keys (2003)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/270246704.jpg" data-group="9" class="galleryItem portfolio-box" title="TLC: CrazySexyCool (1994)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/264260823.jpg" data-group="9" class="galleryItem portfolio-box" title="Keyshia Cole: Just Like You (2007)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/315027449.jpg" data-group="9" class="galleryItem portfolio-box" title="John Legend: Get Lifted (2005)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/323573096.jpg" data-group="9" class="galleryItem portfolio-box" title="Natalie Cole: Leavin' (2006)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/358633001.jpg" data-group="9" class="galleryItem portfolio-box" title="Monica: Still Standing (2010)"></a>
                <a href="static/img/portfolio/fullsize/Rnb_Soul/321981809.jpg" data-group="9" class="galleryItem portfolio-box" title="The Jimmy Castor Bunch: Butt of Course... (feat. The Everything Man) (2010)"></a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Hip-Hop/1109766593.jpg" data-group="10" class="galleryItem portfolio-box">
                    <img src="static/img/portfolio/thumbnails/1109766593.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Hip-Hop/Rap
                            </div>
                            <div class="project-category text-faded">
                                Drake: Views
                            </div>
                        </div>
                    </div>
                </a>
                <!-- <iframe src="static/img/portfolio/audio/controlla_clip.mp3" data-group="10" class="galleryItem portfolio-box mfp-hide white-popup"></iframe> -->
                <!-- <a>
                <img src="static/img/portfolio/fullsize/Hip-Hop/1109766593.jpg" data-group="10" class="galleryItem portfolio-box"></img>
                <audio controls>
                  <source src="static/img/portfolio/audio/controlla_clip.mp3" data-group="10" class="galleryItem portfolio-box" width="300" margin="0" auto>
                </audio></a> -->
                <a href="static/img/portfolio/fullsize/Hip-Hop/1020503805.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1023500961.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1051693354.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1063512766.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1092683654.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1124650070.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1160064691.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1208303209.jpg" data-group="10" class="galleryItem portfolio-box"></a>
                <a href="static/img/portfolio/fullsize/Hip-Hop/1213155219.jpg" data-group="10" class="galleryItem portfolio-box"></a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Reggae/19851211.jpg" data-group="11" class="galleryItem portfolio-box" title="Bob Marley: Legend (Deluxe Eddition) (1984)">
                    <img src="static/img/portfolio/thumbnails/19851211.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Reggae
                            </div>
                            <div class="project-category text-faded">
                                Bob Marley: Legend
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Reggae/1811615.jpg" data-group="11" class="galleryItem portfolio-box" title="Jimmy Cliff: Anthology (2003)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/152391231.jpg" data-group="11" class="galleryItem portfolio-box" title="Giant Panda Guerilla Dub Squad: Slow Down (2006)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/34106140.jpg" data-group="11" class="galleryItem portfolio-box" title="Steal This Road: The Suicide Machines (2001)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/210630690.jpg" data-group="11" class="galleryItem portfolio-box" title="Buju Banton: Too Bad (2006)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/218795604.jpg" data-group="11" class="galleryItem portfolio-box" title="Stephen Marley: Mind Control (2007)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/250998141.jpg" data-group="11" class="galleryItem portfolio-box" title="Aswad: New Chapter (1980)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/303834609.jpg" data-group="11" class="galleryItem portfolio-box" title="Roots & The Maytals: True Love (2004)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/311760831.jpg" data-group="11" class="galleryItem portfolio-box" title="Soldiers of Jah Army: Peace In a Time of War (2002)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/346627632.jpg" data-group="11" class="galleryItem portfolio-box" title="Matisyahu: Light (Bonus Track Version) (2010)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/370716773.jpg" data-group="11" class="galleryItem portfolio-box" title="Nas & Damian: Distant Relatives (Bonus Track Version)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/36729.jpg" data-group="11" class="galleryItem portfolio-box" title="Bob Marley: Songs of Freedom (1992)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/383660418.jpg" data-group="11" class="galleryItem portfolio-box" title="Stick Figure: The Reprise Sessions (2010)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/394201637.jpg" data-group="11" class="galleryItem portfolio-box" title="Matisayahu: Shake Off the Dust... Arise (2004)"></a>
                <a href="static/img/portfolio/fullsize/Reggae/390709992.jpg" data-group="11" class="galleryItem portfolio-box" title="Various Artists: Misfits of Ska I (1995)"></a>

            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/Rock/217633715.jpg" data-group="12" class="galleryItem portfolio-box" title="Elvis Presley: The Essential Elvis Presley (Remastered) (2006)">
                    <img src="static/img/portfolio/thumbnails/217633715.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Rock
                            </div>
                            <div class="project-category text-faded">
                                Elvis Presley: The Essential Elvis Presley (Remastered)
                            </div>
                        </div>
                    </div>
                </a>
                <a href="static/img/portfolio/fullsize/Rock/169003304.jpg" data-group="12" class="galleryItem portfolio-box" title= "Journey: Greatest Hits (1988)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1123076757.jpg" data-group="12" class="galleryItem portfolio-box" title="Coldplay: X & Y (2005)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1003235234.jpg" data-group="12" class="galleryItem portfolio-box" title= "Lantlôs: Melting Sun (Deluxe Edition) (2014)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1021269744.jpg" data-group="12" class="galleryItem portfolio-box" title="Wildlights: Wildlights (2015)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1035405287.jpg" data-group="12" class="galleryItem portfolio-box" title= "The Bloody Nerve: Taste (2015)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1023951612.jpg" data-group="12" class="galleryItem portfolio-box" title="Jon Solberg: Svarteper (2015)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1046545818.jpg" data-group="12" class="galleryItem portfolio-box" title="Glass Hammer: Double Live (2015)"></a>
                <a href="static/img/portfolio/fullsize/Rock/957704796.jpg" data-group="12" class="galleryItem portfolio-box" title= "Shark Island: Law of the Order (1989)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1049157404.jpg" data-group="12" class="galleryItem portfolio-box" title="Chris Duarte: Blue Velocity (2007)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1050014942.jpg" data-group="12" class="galleryItem portfolio-box" title="Johnny Winter: Live Bootleg Series Volume 9 (Original Recording Remastered) (2015)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1050015088.jpg" data-group="12" class="galleryItem portfolio-box" title="Canned Heat: Boogie 2000 (Remastered) (2006)"></a>
                <a href="static/img/portfolio/fullsize/Rock/1003224704.jpg" data-group="12" class="galleryItem portfolio-box" title="Klimt 1918: Dopoguerra (Deluxe Edition) (2005)"></a>
            </div>
        </div>
    </div>
  </div>

  <button id="open-popup">Listen to a few of our samples!</button>

<div id="my-popup" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Blues - B. B. King: Paying the Cost to be the Boss (2000)
  <img src="static/img/portfolio/fullsize/Blues/515588.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/blues_payingTheCostToBeTheBoss.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<div id="my-popup3" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Country - Kenny Chesney: Somewhere With You (2010)
  <img src="static/img/portfolio/fullsize/Country/kc_hw.jpeg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/country_somewhereWithYou.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<div id="my-popup4" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Dance - La Roux: Bulletproof (2015)
  <img src="static/img/portfolio/fullsize/Dance/331339668.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/dance_bulletproof.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<div id="my-popup5" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Disney - Ariel: Happy Birthday, Princess (2005)
  <img src="static/img/portfolio/fullsize/Disney/156780227.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/disney_happyBirthdayPrincess.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<div id="my-popup6" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Electronic - Kuba: Hole In My Sitar (2012)
  <img src="static/img/portfolio/fullsize/Electronic/498552145.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/electronic_holeInMySitar.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<!-- <div id="my-popup7" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Jazz
  <img src="static/img/portfolio/fullsize/Disney/156780227.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/disney_happyBirthdayPrincess.mp3" class="portfolio-box" align="center">
  </audio>
</div> -->
<div id="my-popup8" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Pop - Adele: Hello (2015)
  <img src="static/img/portfolio/fullsize/Pop/1051394208.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/pop_hello.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<div id="my-popup9" data-group= "13" class="mfp-hide white-popup portfolio-box">
  R&B/Soul - Destiny's Child: Say My Name (1999)
  <img src="static/img/portfolio/fullsize/Rnb_Soul/266809606.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/rnb_sayMyName.mp3" class="portfolio-box" align="center">
  </audio>
</div>

<div id="my-popup10" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Hip-Hop - Drake: Controlla (2015)
  <img src="static/img/portfolio/fullsize/Hip-Hop/1109766593.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/rap_controlla.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<div id="my-popup11" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Reggae - Bob Marley: One Love/People Get Ready
  <img src="static/img/portfolio/fullsize/Reggae/19851211.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/reggae_oneLove_peopleGetReady.mp3" class="portfolio-box" align="center">
  </audio>
</div>
<div id="my-popup12" data-group= "13" class="mfp-hide white-popup portfolio-box">
  Rock - Elvis Presley: Jailhouse Rock (1958)
  <img src="static/img/portfolio/fullsize/Rock/217633715.jpg" class="galleryItem portfolio-box" align="center"></img>
  <audio controls>
    <source src="static/img/portfolio/audio/rock_jailhouseRock.mp3" class="portfolio-box" align="center">
  </audio>
</div>


    <!-- Contact Section -->
      <section id="download" class="contact-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Contact</h2>
                  <p>Feel free get in touch, ask questions, or even just say hello!</p>
                  <p><a href="mailto:bowersa@hawaii.edu" class="btn btn-default btn-lg">bowersa@hawaii.edu</a>
                  </p>
                  <ul class="list-inline banner-social-buttons">
                    <!-- add link to linkedin? anything else?-->
                      <li>
                          <a href="https://github.com/akbowers/album_art.git" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">See This Project on Github</span></a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/amanda-bowers" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Connect on LinkedIn</span></a>
                      </li>
                  </ul>
              </div>
          </div>
      </section>

      <!-- Footer -->
      <footer>
          <div class="container text-center">
              <p>Copyright &copy; Amanda Bowers 2017</p>
              <p>Photos Copyright &copy; Apple iTunes 2017</p>
          </div>
      </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Plugin JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
      <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

      <!-- Theme JavaScript -->
      <script src="static/js/creative.js"></script>

</body>

</html>
