!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Album Art Classifier - Amanda Bowers</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .newspaper {
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
    }
    </style>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/creative.css" rel="stylesheet">

</head>

<body id="evaluation" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Album Cover</span> Identification
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#evaluation">Evaluation</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="evaluation" class="container content-section text-center">

      <h1>Training Set Evaluation</h1>

          <!--TESTING-->
          <p><b>Blues</b> - B. B. King: Anthology (2000)</p>
          <div class="container">
              <div class="row">
                  <div class="col-sm-4">
                      <img class="img-responsive" src="static/img/portfolio/fullsize/Blues/515588.jpg" height="200"/>
                  </div>
                  <div class="col-sm-8">
                      <img class="img-responsive" src="static/img/training_plots/515588_plt.png" height="200"/>
                  </div>
              </div>
          </div>

          <br>
          <p><b>Classical</b> - Brahms: Violin Sonatas (2015)</p>
          <div class="container">
              <div class="row">
                  <div class="col-sm-4">
                      <img class="img-responsive" src="static/img/portfolio/fullsize/Classical/1052805256.jpg" height="200"/>
                  </div>
                  <div class="col-sm-8">
                      <img class="img-responsive" src="static/img/training_plots/1052805256_plt.png" height="200"/>
                  </div>
              </div>
          </div>
        </br>

        <br>
        <p><b>Country</b> - Kenny Chesney: Hemmingway's Whiskey (2010)</p>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="static/img/portfolio/fullsize/Country/kc_hw.jpg" height="200"/>
                </div>
                <div class="col-sm-8">
                    <img class="img-responsive" src="static/img/training_plots/kc_hw_plt.png" height="200"/>
                </div>
            </div>
        </div>
      </br>

      <br>
      <p><b>Dance</b> - La Roux: Roux (Bonus Track Version) (2009)</p>
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <img class="img-responsive" src="static/img/portfolio/fullsize//Dance/331339668.jpg" height="200"/>
              </div>
              <div class="col-sm-8">
                  <img class="img-responsive" src="static/img/training_plots/331339668_plt.png" height="200"/>
              </div>
          </div>
      </div>
    </br>

    <br>
    <p><b>Disney</b> - Various Artists: Disney Princess Tea Party (2005)</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="static/img/portfolio/fullsize/Disney/156780227.jpg" height="200"/>
            </div>
            <div class="col-sm-8">
                <img class="img-responsive" src="static/img/training_plots/156780227_plt.png" height="200"/>
            </div>
        </div>
    </div>
  </br>

  <br>
  <p><b>Electronic</b> - Kuba: Random Precision (2012)</p>
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <img class="img-responsive" src="static/img/portfolio/fullsize/Electronic/498552145.jpg" height="200"/>
          </div>
          <div class="col-sm-8">
              <img class="img-responsive" src="static/img/training_plots/498552145_plt.png" height="200"/>
          </div>
      </div>
  </div>
</br>

<br>
<p><b>Jazz</b> - Gregory Porter: Take Me to the Alley (2016)</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="static/img/portfolio/fullsize/Jazz/1088093080.jpg" height="200"/>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="static/img/training_plots/1088093080_plt.png" height="200"/>
        </div>
    </div>
</div>
</br>


<br>
<p><b>Pop</b> - Adele: 25 (2015)</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="static/img/portfolio/fullsize/Pop/1051394208.jpg" height="200"/>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="static/img/training_plots/1051394208_plt.png" height="200"/>
        </div>
    </div>
</div>
</br>

<br>
<p><b>R&B/Soul</b> - Destiny's Child: The Writing's On the Wall (1999)</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="static/img/portfolio/fullsize/Rnb_Soul/266809606.jpg" height="200"/>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="static/img/training_plots/266809606_plt.png" height="200"/>
        </div>
    </div>
</div>
</br>

<br>
<p><b>Hip-Hop</b> - Drake: Views (2016)</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="static/img/portfolio/fullsize/Hip-Hop/1109766593.jpg" height="200"/>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="static/img/training_plots/1109766593_plt.png" height="200"/>
        </div>
    </div>
</div>
</br>

<br>
<p><b>Reggae</b> - Bob Marley & The Wailers: Legend (Deluxe Edition) (1984)</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="static/img/portfolio/fullsize/Reggae/19851211.jpg" height="200"/>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="static/img/training_plots/19851211_plt.png" height="200"/>
        </div>
    </div>
</div>
</br>

<br>
<p><b>Rock</b> - Elvis Presley: The Essential Elvis Presley (Remastered) (2006)</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="static/img/portfolio/fullsize/Rock/217633715.jpg" height="200"/>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="static/img/training_plots/217633715_plt.png" height="200"/>
        </div>
    </div>
</div>
</br>

</section>

    <!-- Contact Section -->
      <section id="contact" class="contact-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Contact</h2>
                  <p>Feel free get in touch, ask questions, or even just say hello!</p>
                  <p><a href="mailto:bowersa@hawaii.edu" class="btn btn-default btn-lg">bowersa@hawaii.edu</a>
                  </p>
                  <ul class="list-inline banner-social-buttons">
                    <!-- add link to linkedin? anything else?-->
                      <li>
                          <a href="https://github.com/akbowers/album_art.git" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">See This Project on Github</span></a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/amanda-bowers" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Connect on LinkedIn</span></a>
                      </li>
                  </ul>
              </div>
          </div>
      </section>


      <!-- Footer -->
      <footer>
          <div class="container text-center">
              <p>Copyright &copy; Amanda Bowers 2017</p>
              <p>Photos Copyright &copy; Apple iTunes 2017</p>
          </div>
      </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Plugin JavaScript -->
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
      <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

      <!-- Theme JavaScript -->
      <script src="static/js/creative.js"></script>

</body>

</html>
