<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Album Art Classifier - Amanda Bowers</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .newspaper {
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
    }
    </style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Album Cover</span> Identification
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#training">Training</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Album Art Classifier</h1>
                        <p class="intro-text">A pre-trained tensorflow model to predict music genre
                            <br>Created by Amanda Bowers</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Model</h2>
                <p>This model was trained on <a href="https://www.tensorflow.org/tutorials/image_retraining"> Inception V3</a>
                  via transfer learning:</p>
                  <br><bold>Training Set:</bold> 36 classes each with an average of 750 images (unbalanced classes)</br>
                  <br>Training accuracy: ~45% (varies iteratively)</br>
                  <br><bold>Validation Set:</bold> 36 classes each with an average of 94 images</br>
                  <br>Validation accuracy: 28% (varies iteratively)</br>
                  <br><bold>Test Set:</bold> 36 classes each with an average of 94 images</br>
                  <br>Test accuracy: 22.6% (final hold-out set)</br>
                <p><a href = "https://affiliate.itunes.apple.com/resources/documentation/genre-mapping/"> iTunes</a>
                  genres and corresponding subgenres were grouped together to create image classes:</p>
                <div class="newspaper">
                    <br>Alternative</br>
                    <br>Anime</br>
                    <br>Blues</br>
                    <br>Brazilian</br>
                    <br>Children's Music</br>
                    <br>Christian & Gospel</br>
                    <br>Classical</br>
                    <br>Comedy</br>
                    <br>Country</br>
                    <br>Dance</br>
                    <br>Disney</br>
                    <br>Easy Listening</br>
                    <br>Electronic</br>
                    <br>Enka</br>
                    <br>Fitness & Workout</br>
                    <br>French Pop</br>
                    <br>German Pop</br>
                    <br>Hip-Hop/Rap</br>
                    <br>Holiday Music</br>
                    <br>Instrumental</br>
                    <br>J-Pop</br>
                    <br>Jazz</br>
                    <br>K-Pop</br>
                    <br>Karaoke</br>
                    <br>Latino</br>
                    <br>New Age</br>
                    <br>Opera</br>
                    <br>Pop</br>
                    <br>R&B/Soul</br>
                    <br>Reggae</br>
                    <br>Rock</br>
                    <br>Singer/Songwriter</br>
                    <br>Soundtrack</br>
                    <br>Spoken Word</br>
                    <br>Vocal</br>
                    <br>World</br>
                </div>
                <p>Upload your album art below to obtain the top 5 most likely genre predictions.</p>
                <form action="/uploader" method="POST"
                    enctype="multipart/form-data">
                    <input type="file" name="pic" accept="image/*">
                    <input type="submit">
                </form>
            </div>
        </div>
    </section>

    <!-- Training Set Section -->
    <section id="training" class="content-section text-center">
        <div class="training-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>What's in my training set?</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="recommendations">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/515588.jpg" class="portfolio-box">
                    <img src="static/img/portfolio/thumbnails/515588.jpg" height="150" width="750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Blues
                            </div>
                            <div class="project-category text-faded">
                                B.B. King: Anthology
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/1052805256.jpg" class="portfolio-box">
                    <img src="static/img/portfolio/thumbnails/1052805256.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Classical
                            </div>
                            <div class="project-category text-faded">
                                Brahms: The Violin Sonatas
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/498552145.jpg" class="portfolio-box">
                    <img src="static/img/portfolio/thumbnails/498552145.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Electronic
                            </div>
                            <div class="project-category text-faded">
                                Kuba: Random Precision
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/559334659.jpg" class="portfolio-box">
                    <img src="static/img/portfolio/thumbnails/559334659.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Pop
                            </div>
                            <div class="project-category text-faded">
                                Michael Jackson: Bad
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/1109766593.jpg" class="portfolio-box">
                    <img src="static/img/portfolio/thumbnails/1109766593.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Hip-Hop/Rap
                            </div>
                            <div class="project-category text-faded">
                                Drake: Views
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="static/img/portfolio/fullsize/1003224704.jpg" class="portfolio-box">
                    <img src="static/img/portfolio/thumbnails/1003224704.jpg" height= "150" width= "750" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Rock
                            </div>
                            <div class="project-category text-faded">
                                Artist: Album
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

    <!-- Contact Section -->
      <section id="download" class="contact-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <h2>Contact</h2>
                  <p>Feel free get in touch, ask questions, or even just say hello!</p>
                  <p><a href="mailto:bowersa@hawaii.edu" class="btn btn-default btn-lg">bowersa@hawaii.edu</a>
                  </p>
                  <ul class="list-inline banner-social-buttons">
                    <!-- add link to linkedin? anything else?-->
                      <li>
                          <a href="https://github.com/akbowers/album_art.git" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">See This Project on Github</span></a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com/in/amanda-bowers" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Connect on LinkedIn</span></a>
                      </li>
                  </ul>
              </div>
          </div>
      </section>

      <!-- Footer -->
      <footer>
          <div class="container text-center">
              <p>Copyright &copy; Amanda Bowers 2017</p>
              <p>Photos Copyright &copy; Apple iTunes 2017</p>
          </div>
      </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="static/text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/grayscale.min.js"></script>

</body>

</html>
